
h1{
	text-align: center;
	color: blue;
	padding: 30px;

}



.container{

font-size: 40px;
max-width: auto;
max-height: auto;
background:yellow;
display: grid;
grid-template-columns: 33.3px 33.3px 33.3px;
grid-template-rows: 150px 150px 150px;
grid-gap
: 190px;
margin: auto;
grid-template-areas:
  "header header header"
  "advert content content"
  "footer footer footer";
  justify-content: center;
}
.container > div {
	background-color: green;
	
}

memory-card{
padding: 100px;

}
.front-card,
.back-card{
	

	

}

}

}
/* @media only screen and (max-width: 767px){
body {
	
	.container{
	align: center;
	font-size: 40px;
	width: 100;
	background:lightgrey;
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	grid-gap: 10px;
	grid-template-areas:
  "header header header"
  "advert content content"
  "footer footer footer";
}

 }
}